<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="egovframework target" sequenceNumber="40">
<locations>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location path="${workspace_loc}" type="Directory"/>
	<location path="/Users/EGOV-DEV/v5.0/05_RCP-Target-and-Test/eGovFrameDev-2025-03/eGovFrameDev-5.0.0-macOS-AArch64.app/Contents/Eclipse" type="Directory"/>
</locations>
</target>