<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2011 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="egovframework.dev.imp.confmngt.propertypages.emptyconfpropertypage"
            class="egovframework.dev.imp.confmngt.properties.ProjectConfPropertyPage"
            id="egovframework.dev.imp.confmngt.propertypages.egovconfpropertypage"
            name="Common Component">
           <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="egovframework.dev.imp.ide.natures.egovnature"/>
		     </adapt>         
           </enabledWhen>            
      </page>
      <page
            category="egovframework.dev.imp.confmngt.propertypages.emptyconfpropertypage"
            class="egovframework.dev.imp.confmngt.properties.NexusPropertyPage"
            id="egovframework.dev.imp.confmngt.propertypages.egovnexuspropertypage"
            name="Nexus">
           <enabledWhen>
           	<or>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="egovframework.dev.imp.ide.natures.egovnature"/>
		     </adapt>         
 		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="egovframework.mdev.imp.ide.natures.egovnature"/>
		     </adapt>  
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="egovframework.bdev.imp.ide.natures.egovnature"/>
		     </adapt>        
	        </or>
           </enabledWhen>
      </page>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="egovframework.dev.imp.core.preferences.emptyconfpreperencepage"
            class="egovframework.dev.imp.confmngt.preferences.NexusPreferencePage"
            id="egovframework.dev.imp.confmngt.preferences.nexuspreferencepage"
            name="Nexus">
       </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="egovframework.dev.imp.confmngt.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
