<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <Appenders>
		<JDBC name="${txtAppenderName}" tableName="${txtTableName}">
#if(${rdoConnectionType} == "ConnectionFactory")
			<!-- ConnectionFactory 설정 -->
			<ConnectionFactory class="${txtConnectionFactoryClass}" method="${txtConnectionFactoryMethod}" />
#end
#if(${rdoConnectionType} == "DriverManager")
			<!-- DriverManager 설정 -->
            <DriverManager
                driverClassName="${txtDriverClass}"
                connectionString="${txtUrl}"
                userName="${txtUser}"
                password="${txtPasswd}">
                <!-- 필요 시 추가 연결 속성 설정 -->
                <!-- 예: <Property name="useSSL" value="false" /> -->
            </DriverManager>
#end
			<Column name="reg_dt" isEventTimestamp="true" />
			<Column name="level" pattern="%p" />
			<Column name="logger" pattern="%c" />
			<Column name="message" pattern="%m" />
			<Column name="exception" pattern="%ex{full}" />
			<!--
	    	<Filters>
				<ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
				<RegexFilter regex=".*Exception.*" onMatch="NEUTRAL" onMismatch="DENY"/>
			</Filters>
			-->
		</JDBC>
        <File name="${txtAppenderName}" fileName="${txtLogFileName}" append="${cboAppend}">
            <PatternLayout pattern="${txtConversionPattern}"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="${txtAppenderName}" />
        </Logger>
        <Logger name="org.egovframe" level="DEBUG" additivity="false">
            <AppenderRef ref="${txtAppenderName}" />
        </Logger>
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="${txtAppenderName}" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="${txtAppenderName}" />
        </Root>
    </Loggers>
</Configuration>
		