<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd">

	<bean id="${txtTransactionName}" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="${txtEttMgrFactory}" />
	</bean>

	<tx:advice id="${txtAdviceName}" transaction-manager="${txtTransactionName}">
		<tx:attributes>
			<tx:method name="${txtMethodName}" rollback-for="${txtRollbackFor}" propagation="${cmbPropagation}" isolation="${cmbIsolation}"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="${txtPointCutName}" expression="${txtPointCutExpression}"/>
		<aop:advisor advice-ref="${txtAdviceName}" pointcut-ref="${txtPointCutName}" />
	</aop:config>
	
	<!-- @Transactional 스캔 -->
	<tx:annotation-driven />

	<!-- 컨테이너가 관리하는 EntityManager 생성, @PersistenceContext와 함께 사용 -->
	<bean id="${txtEttMgrFactory}" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="${txtDataSourceName}" />
		<!-- 어노테이션 매핑정보 스캔 -->
		<property name="packagesToScan" value="${txtPackagesToScan}" />
		<!-- 구현체별 자체 기능을 표준화 -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
			</bean>
		</property>
		<!-- persistence.xml 설정정보와 함께 사용가능 -->
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">${cmbDialect}</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hibernate.jdbc.batch_size">5</prop>
			</props>
		</property>
	</bean>

	<jpa:repositories base-package="${txtSpringDataJPAPackage}"></jpa:repositories>
	
	<!-- @PersistenceContext 스캔 및 예외변환 후처리기 -->
	<context:annotation-config />
	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

</beans>