<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
   <tx:jta-transaction-manager/>
   <jee:jndi-lookup id="${txtDatasourceName}" jndi-name="${txtJndiName}" resource-ref="${cboResourceRef}">
      <jee:environment>
         java.naming.factory.initial=${txtInitialFactory}
         java.naming.provider.url=${txtProviderUrl}
      </jee:environment>
   </jee:jndi-lookup>

</beans>
