<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="egovframework.dev.imp.dbio.sqlMapConfig"
            name="DBIO sqlMapConfig File"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="sqlMapConfig">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="egovframework.dev.imp.dbio.sqlMap"
            name="DBIO sqlMap File"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="sqlMap">
            </parameter>
         </describer>
      </content-type>

      <!-- myBatis -->
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="egovframework.dev.imp.dbio.mapperConfig"
            name="DBIO mapperConfig File"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="configuration">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="egovframework.dev.imp.dbio.mapper"
            name="DBIO mapper File"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="mapper">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="egovframework.dev.imp.dbio.editor.SqlMapConfigEditor"
            contributorClass="egovframework.dev.imp.dbio.editor.XMLFormEditorContributor"
            default="true"
            icon="icons/editors/sqlmapconfig_file.gif"
            id="egovframework.dev.imp.dbio.editor.sqlMapConfigEditor"
            name="sqlMapConfig Editor">
         <contentTypeBinding
               contentTypeId="egovframework.dev.imp.dbio.sqlMapConfig">
         </contentTypeBinding>
      </editor>
      <editor
            class="egovframework.dev.imp.dbio.editor.SqlMapEditor"
            contributorClass="egovframework.dev.imp.dbio.editor.XMLFormEditorContributor"
            default="true"
            icon="icons/editors/sqlmap_file.gif"
            id="egovframework.dev.imp.dbio.editor.sqlMapEditor"
            name="sqlMap Editor">
         <contentTypeBinding
               contentTypeId="egovframework.dev.imp.dbio.sqlMap">
         </contentTypeBinding>
      </editor>

      <!-- myBatis -->
      <editor
            class="egovframework.dev.imp.dbio.editor.MapperConfigurationEditor"
            contributorClass="egovframework.dev.imp.dbio.editor.XMLFormEditorContributor"
            default="true"
            icon="icons/editors/mapperconfiguration_file.gif"
            id="egovframework.dev.imp.dbio.editor.mapperConfigurationEditor"
            name="mapperConfiguration Editor">
         <contentTypeBinding
               contentTypeId="egovframework.dev.imp.dbio.mapperConfig">
         </contentTypeBinding>
      </editor>
      <editor
            class="egovframework.dev.imp.dbio.editor.MapperEditor"
            contributorClass="egovframework.dev.imp.dbio.editor.XMLFormEditorContributor"
            default="true"
            icon="icons/editors/mapper_file.gif"
            id="egovframework.dev.imp.dbio.editor.mapperEditor"
            name="mapper Editor">
         <contentTypeBinding
               contentTypeId="egovframework.dev.imp.dbio.mapper">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
      	<!-- iBatis 제거
         <public
               id="ibatis-2-config.dtd"
               publicId="-//ibatis.apache.org//DTD SQL Map Config 2.0//EN"
               uri="dtd/sql-map-config-2.dtd"
               webURL="http://ibatis.apache.org/dtd/sql-map-config-2.dtd">
         </public>
         <public
               id="ibatis-2-mapper.dtd"
               publicId="-//ibatis.apache.org//DTD SQL Map 2.0//EN"
               uri="dtd/sql-map-2.dtd"
               webURL="http://ibatis.apache.org/dtd/sql-map-2.dtd">
         </public>
         -->
		<!-- myBatis -->
         <public
               id="mybatis-3-config.dtd"
               publicId="-//mybatis.org//DTD Config 3.0//EN"
               uri="dtd/mybatis-3-config.dtd"
               webURL="http://mybatis.org/dtd/mybatis-3-config.dtd">
         </public>
         <public
               id="mybatis-3-mapper.dtd"
               publicId="-//mybatis.org//DTD Mapper 3.0//EN"
               uri="dtd/mybatis-3-mapper.dtd"
               webURL="http://mybatis.org/dtd/mybatis-3-mapper.dtd">
         </public>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <!-- iBatis 제거
      <wizard
            category="egovframework.dev.imp.core.wizards"
            class="egovframework.dev.imp.dbio.wizard.NewSqlMapConfigWizard"
            icon="icons/wizards/sqlmapconfigfile.gif"
            id="egovframework.dev.imp.dbio.wizard.newSqlMapConfig"
            name="sqlMapConfig">
      </wizard>
      <wizard
            category="egovframework.dev.imp.core.wizards"
            class="egovframework.dev.imp.dbio.wizard.NewSqlMapWizard"
            icon="icons/wizards/sqlmapfile.gif"
            id="egovframework.dev.imp.dbio.wizard.newSqlMap"
            name="sqlMap">
      </wizard>
      -->
      <!-- myBatis -->
      <wizard
            category="egovframework.dev.imp.core.wizards"
            class="egovframework.dev.imp.dbio.wizard.NewMapperConfigurationWizard"
            icon="icons/wizards/mapperconfigurationfile.gif"
            id="egovframework.dev.imp.dbio.wizard.newMapperConfiguration"
            name="mapperConfiguration">
      </wizard>      
      <wizard
            category="egovframework.dev.imp.core.wizards"
            class="egovframework.dev.imp.dbio.wizard.NewMapperWizard"
            icon="icons/wizards/mapperfile.gif"
            id="egovframework.dev.imp.dbio.wizard.newMapper"
            name="mapper">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="egovframework.dev.imp.ui.views"
            class="egovframework.dev.imp.dbio.search.QueryIdSearchView"
            icon="icons/views/search_dbio.gif"
            id="egovframework.dev.imp.dbio.view.dbioSearch"
            name="DBIO Search"
            restorable="true">
      </view>
      <view
            category="egovframework.dev.imp.ui.views"
            class="egovframework.dev.imp.dbio.test.QueryResultView"
            icon="icons/views/query_result.gif"
            id="egovframework.dev.imp.dbio.view.queryResult"
            name="Query Result"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="egovframework.dev.imp.core.perspectives.egovperspective">
         <!-- iBatis 제거
         <newWizardShortcut
               id="egovframework.dev.imp.dbio.wizard.newSqlMapConfig">
         </newWizardShortcut>
         <newWizardShortcut
               id="egovframework.dev.imp.dbio.wizard.newSqlMap">
         </newWizardShortcut>
         -->
         <!-- myBatis -->
         <newWizardShortcut
               id="egovframework.dev.imp.dbio.wizard.newMapperConfiguration">
         </newWizardShortcut>
         <newWizardShortcut
               id="egovframework.dev.imp.dbio.wizard.newMapper">
         </newWizardShortcut>      
            
         <view
               id="egovframework.dev.imp.dbio.view.dbioSearch"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
         <view
               id="egovframework.dev.imp.dbio.view.queryResult"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
         <viewShortcut
               id="egovframework.dev.imp.dbio.view.dbioSearch">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <!-- iBatis 
         <newWizardShortcut
               id="egovframework.dev.imp.dbio.wizard.newSqlMapConfig">
         </newWizardShortcut>
         <newWizardShortcut
               id="egovframework.dev.imp.dbio.wizard.newSqlMap">
         </newWizardShortcut>
         -->
         <!-- myBatis -->
         <newWizardShortcut
               id="egovframework.dev.imp.dbio.wizard.newMapperConfiguration">
         </newWizardShortcut>
         <newWizardShortcut
               id="egovframework.dev.imp.dbio.wizard.newMapper">
         </newWizardShortcut>   
            
         <view
               id="egovframework.dev.imp.dbio.view.dbioSearch"
               minimized="false"
               relationship="stack"
               visible="true">
         </view>
         <viewShortcut
               id="egovframework.dev.imp.dbio.view.dbioSearch">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:egovframework.dev.imp.core.menu.implementation?after=additions">
         <!-- iBatis 제거
         <command
               commandId="egovframework.dev.imp.dbio.commands.newSqlMapConfig"
               style="push">
         </command>
         <command
               commandId="egovframework.dev.imp.dbio.commands.newSqlMap">
         </command>
         -->
         <!-- myBatis -->
         <command
               commandId="egovframework.dev.imp.dbio.commands.newMapperConfiguration"
               style="push">
         </command>
         <command
               commandId="egovframework.dev.imp.dbio.commands.newMapper">
         </command>
         
         <command
               commandId="egovframework.dev.imp.dbio.commands.openDbioSearch">
         </command>
         <separator
               name="egovframework.dev.imp.dbio.separator1"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <!-- iBatis 제거
      <command
            categoryId="egovframework.dev.imp.ide.commands.category"
            id="egovframework.dev.imp.dbio.commands.newSqlMapConfig"
            name="New SQL Map Config">
      </command>
      <command
            categoryId="egovframework.dev.imp.ide.commands.category"
            id="egovframework.dev.imp.dbio.commands.newSqlMap"
            name="New SQL Map">
      </command>
       -->
      <!-- myBatis -->
      <command
            categoryId="egovframework.dev.imp.ide.commands.category"
            id="egovframework.dev.imp.dbio.commands.newMapperConfiguration"
            name="New Mapper Configuration">
      </command>
      <command
            categoryId="egovframework.dev.imp.ide.commands.category"
            id="egovframework.dev.imp.dbio.commands.newMapper"
            name="New Mapper">
      </command>  
          
      <command
            categoryId="egovframework.dev.imp.ide.commands.category"
            id="egovframework.dev.imp.dbio.commands.openDbioSearch"
            name="Show DBIO Search View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <!-- iBatis 제거
      <handler
            class="egovframework.dev.imp.dbio.handlers.NewSqlMapConfig"
            commandId="egovframework.dev.imp.dbio.commands.newSqlMapConfig">
      </handler>
      <handler
            class="egovframework.dev.imp.dbio.handlers.NewSqlMap"
            commandId="egovframework.dev.imp.dbio.commands.newSqlMap">
      </handler>
      -->
      <!-- myBatis -->
      <handler
            class="egovframework.dev.imp.dbio.handlers.NewMapperConfiguration"
            commandId="egovframework.dev.imp.dbio.commands.newMapperConfiguration">
      </handler>
      <handler
            class="egovframework.dev.imp.dbio.handlers.NewMapper"
            commandId="egovframework.dev.imp.dbio.commands.newMapper">
      </handler>      
      
      <handler
            class="egovframework.dev.imp.dbio.handlers.ShowDbioSearchView"
            commandId="egovframework.dev.imp.dbio.commands.openDbioSearch">
      </handler>
   </extension>

</plugin>
