##
#set($D='$')
#set($voPackage="${servicePackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($voInstanceName="${model.entity.ccName}VO")
##
##
#set($listPath="/${model.entity.ccName}/${model.entity.ccName}List.do")
#set($addPath="/${model.entity.ccName}/add${model.entity.pcName}.do")
#set($updatePath="/${model.entity.ccName}/update${model.entity.pcName}.do")
#set($deletePath="/${model.entity.ccName}/delete${model.entity.pcName}.do")
##
#set($registerPageName="${model.entity.ccName}Register.jsp")
##
#set($primaryKeyAttr="")
#if(${model.primaryKeys} == [])
  #set($primaryKeyAttr="${model.attributes.get(0).ccName}")
#else
  #set($primaryKeyAttr="${model.primaryKeys.get(0).ccName}")
#end
##
<%@ page contentType="text/html; charset=utf-8" pageEncoding="utf-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%
  /**
  * @Class Name : ${registerPageName}
  * @Description : ${model.entity.pcName} Register 화면
  * @Modification Information
  *
  *   수정일         수정자                   수정내용
  *  -------    --------    ---------------------------
  *  ${createDate}  ${author}          최초 생성
  *
  * author ${author}
  * since ${createDate}
  *
  * Copyright (C) All right reserved.
  */
%>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <c:set var="registerFlag" value="${D}{empty ${voInstanceName}.${primaryKeyAttr} ? 'create' : 'modify'}"/>
    <title>${model.entity.pcName} <c:if test="${D}{registerFlag == 'create'}">Regist</c:if>
                  <c:if test="${D}{registerFlag == 'modify'}">Update</c:if>
    </title>

    <!-- KRDS CSS -->
    <link rel="stylesheet" type="text/css" href="<c:url value='/css/component/output.css'/>" />
    <link rel="stylesheet" type="text/css" href="<c:url value='/css/egovframe.css'/>" />
    <script type="text/javascript" src="<c:url value='/js/jquery.min.js'/>"></script>
    <script type="text/javascript" src="<c:url value='/js/component/ui-script.js'/>" defer></script>
    <script type="text/javascript" src="<c:url value='/js/egovframework/common.js'/>" defer></script>

    <!--For Custom Validation-->
    <!-- egovframe-Todo: Validator 적용시 아래 주석 코드 참고 -->
    <!-- <script type="text/javascript" src="<c:url value='/js/egovframework/EgovValidation.js'/>" defer></script> -->

    <script type="text/javascript" defer>

    function fn_egov_list() {
    	document.detailForm.action = "<c:url value='${listPath}'/>";
       	document.detailForm.method = 'get';
       	document.detailForm.submit();
    }

    function fn_egov_add() {
        if (confirm('등록하시겠습니까?')) {
            let frm = document.detailForm;
        
            // egovframe-Todo: Validator 적용시 아래 주석 코드 참고
            // EgovValidation.js 파일에 validate${model.entity.pcName}VO 함수 추가 필요
            // if (!validate${model.entity.pcName}VO(frm)) {
            //     return;
            // }
            
            frm.action = "<c:url value='${addPath}'/>";
            frm.submit();
        }
    }

    function fn_egov_update() {
        if (confirm('수정하시겠습니까?')) {
            let frm = document.detailForm;
            
            // egovframe-Todo: Validator 적용시 아래 주석 코드 참고
            // EgovValidation.js 파일에 validate${model.entity.pcName}VO 함수 추가 필요
            // if (!validate${model.entity.pcName}VO(frm)) {
            //     return;
            // }
            
            frm.action = "<c:url value='${updatePath}'/>";
            frm.submit();
        }
    }

    function fn_egov_delete() {
        if (confirm('삭제하시겠습니까?')) {
        	document.detailForm.action = "<c:url value='${deletePath}'/>";
           	document.detailForm.submit();
        }
    }

    function fn_egov_reset() {
        ${D}('form').each(function() {
            this.reset();
        });
    }
    </script>
</head>

<body>
<div id="container" class="inner">

	<!-- Page Title -->
	<h2 class="heading-large">
		<c:if test="${D}{registerFlag == 'create'}">Regist</c:if>
		<c:if test="${D}{registerFlag == 'modify'}">Update</c:if>
	</h2>

	<form:form id="detailForm" name="detailForm" modelAttribute="${voInstanceName}">
	<input type="hidden" id="searchCondition" name="searchCondition" value="${D}{${voInstanceName}.searchCondition}" />
	<input type="hidden" id="searchKeyword" name="searchKeyword" value="${D}{${voInstanceName}.searchKeyword}" />
	<input type="hidden" id="pageIndex" name="pageIndex" value="${D}{${voInstanceName}.pageIndex}" />

	<spring:message code="confirm.required.name" var="placeholderName"/>
	<spring:message code="confirm.required.description" var="placeholderDescription"/>
	<spring:message code="confirm.required.user" var="placeholderUser"/>

		<div class="conts-wrap">
			<div class="fieldset input-form">
			
#foreach($attribute in $model.attributes)
#if($attribute.primaryKey == true)
                <c:if test="${D}{not empty ${voInstanceName}.${attribute.ccName}}">
                <div class="form-group">
                    <div class="form-tit">
                        <label for="${attribute.ccName}">${attribute.pcName}</label>
                    </div>
                    <div class="form-conts">
                        <form:input path="${attribute.ccName}" readonly="true" cssClass="krds-input"/>
                    </div>
                </div>
                </c:if>
#else
                <div class="form-group">
                    <div class="form-tit">
                        <label for="${attribute.ccName}">${attribute.pcName}</label>
                    </div>
                    <div class="form-conts">
                        <form:input path="${attribute.ccName}" cssClass="krds-input"/>
                        <form:errors path="${attribute.ccName}" cssClass="error-message" />
                    </div>
                </div>
#end
#end

            </div>

			<!-- Action Buttons -->
			<div class="page-btn-wrap">
                <div class="btn-wrap">
	                <button type="button" class="krds-btn medium secondary" onclick="fn_egov_list()">List</button>
	                <button type="button" class="krds-btn medium tertiary" onclick="fn_egov_reset()">Reset</button>
                </div>
				<div class="btn-wrap">
					<c:if test="${D}{registerFlag == 'modify'}">
						<button type="button" class="krds-btn medium" onclick="fn_egov_update()">Update</button>
						<button type="button" class="krds-btn medium danger" onclick="fn_egov_delete()">Delete</button>
					</c:if>
					<c:if test="${D}{registerFlag == 'create'}">
						<button type="button" class="krds-btn medium" onclick="fn_egov_add()">Regist</button>
					</c:if>
				</div>
	        </div>
		</div>

	</form:form>

</div>

</body>
</html>

