##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($mapperPackage="${mapperPackage}")
#set($mapperClassName="${model.entity.pcName}Mapper")
#set($mapperName="${model.entity.ccName}Mapper")
##
##
#set($insertMethodName="insert${model.entity.pcName}")
#set($updateMethodName="update${model.entity.pcName}")
#set($deleteMethodName="delete${model.entity.pcName}")
#set($selectMethodName="select${model.entity.pcName}")
#set($selectListMethodName="select${model.entity.pcName}List")
#set($selectListTotCntMethodName="select${model.entity.pcName}ListTotCnt")
##
##
package ${mapperPackage};

import java.util.List;

import org.egovframe.rte.psl.dataaccess.mapper.EgovMapper;

import ${voPackage}.${voClassName};

/**
 * ${model.entity.pcName}에 관한 데이터처리 매퍼 클래스
 *
 * @author  ${author}
 * @since ${createDate}
 * @version 1.0
 * @see <pre>
 *  == 개정이력(Modification Information) ==
 *
 *          수정일          수정자           수정내용
 *  ----------------    ------------    ---------------------------
 *   ${createDate}        ${author}          최초 생성
 *
 * </pre>
 */
@EgovMapper("${mapperName}")
public interface ${mapperClassName} {

	/**
	 * 글을 등록한다.
	 * @param vo - 등록할 정보가 담긴 ${voClassName}
	 * @return 등록 결과
	 * @exception Exception
	 */
	void ${insertMethodName}(${voClassName} vo) throws Exception;

	/**
	 * 글을 수정한다.
	 * @param vo - 수정할 정보가 담긴 ${voClassName}
	 * @return void형
	 * @exception Exception
	 */
	void ${updateMethodName}(${voClassName} vo) throws Exception;

	/**
	 * 글을 삭제한다.
	 * @param vo - 삭제할 정보가 담긴 ${voClassName}
	 * @return void형
	 * @exception Exception
	 */
	void ${deleteMethodName}(${voClassName} vo) throws Exception;

	/**
	 * 글을 조회한다.
	 * @param vo - 조회할 정보가 담긴 ${voClassName}
	 * @return 조회한 글
	 * @exception Exception
	 */
	${voClassName} ${selectMethodName}(${voClassName} vo) throws Exception;

	/**
	 * 글 목록을 조회한다.
	 * @param vo - 조회할 정보가 담긴 VO
	 * @return 글 목록
	 * @exception Exception
	 */
	List<?> ${selectListMethodName}(${voClassName} vo) throws Exception;

	/**
	 * 글 총 갯수를 조회한다.
	 * @param vo - 조회할 정보가 담긴 VO
	 * @return 글 총 갯수
	 * @exception
	 */
	int ${selectListTotCntMethodName}(${voClassName} vo);

}
