##
#set($voPackage="${package}.service")
#set($voClassName="${entity.pcName}VO")
#set($daoPackage="${package}.service.impl")
#set($daoClassName="${entity.pcName}DAO")
#set($daoName="${entity.ccName}DAO")
#set($daoInstanceName="${entity.ccName}DAO")
##
##
#set($insertMethodName="insert${entity.pcName}")
#set($updateMethodName="update${entity.pcName}")
#set($deleteMethodName="delete${entity.pcName}")
#set($selectMethodName="select${entity.pcName}")
#set($selectListMethodName="select${entity.pcName}List")
#set($selectListTotCntMethodName="select${entity.pcName}ListTotCnt")
##
##
#set($insertQueryId="${daoInstanceName}.insert${entity.pcName}_S")
#set($updateQueryId="${daoInstanceName}.update${entity.pcName}_S")
#set($deleteQueryId="${daoInstanceName}.delete${entity.pcName}_S")
#set($selectQueryId="${daoInstanceName}.select${entity.pcName}_S")
#set($selectListQueryId="${daoInstanceName}.select${entity.pcName}List_D")
#set($selectListTotCntQueryId="${daoInstanceName}.select${entity.pcName}ListTotCnt_S")
##
##
package ${daoPackage};

import java.util.List;

import org.springframework.stereotype.Repository;

import egovframework.rte.cmmn.SampleDefaultVO;
import egovframework.rte.psl.dataaccess.EgovAbstractDAO;
import ${voPackage}.${voClassName};

/**
 * @Class Name : ${daoClassName}.java
 * @Description : ${entity.pcName} DAO Class
 * @Modification Information
 * @
 * @  수정일         수정자                   수정내용
 * @ -------    --------    ---------------------------
 * @ ${createDate}    ${author}          최초 생성
 *
 *  @author 실행환경 개발팀 ${author}
 *  @since ${createDate}
 *  @version 1.0
 *  @see
 *  
 *  Copyright (C) 2009 by MOSPA  All right reserved.
 */

@Repository("${daoName}")
public class ${daoClassName} extends EgovAbstractDAO {

	/**
	 * ${entity.name}을 등록한다.
	 * @param vo - 등록할 정보가 담긴 ${voClassName}
	 * @return 등록 결과
	 * @exception Exception
	 */
    public String ${insertMethodName}(${voClassName} vo) throws Exception {
        return (String)insert("${insertQueryId}", vo);
    }

    /**
	 * ${entity.name}을 수정한다.
	 * @param vo - 수정할 정보가 담긴 ${voClassName}
	 * @return void형
	 * @exception Exception
	 */
    public void ${updateMethodName}(${voClassName} vo) throws Exception {
        update("${updateQueryId}", vo);
    }

    /**
	 * ${entity.name}을 삭제한다.
	 * @param vo - 삭제할 정보가 담긴 ${voClassName}
	 * @return void형 
	 * @exception Exception
	 */
    public void ${deleteMethodName}(${voClassName} vo) throws Exception {
        delete("${deleteQueryId}", vo);
    }

    /**
	 * ${entity.name}을 조회한다.
	 * @param vo - 조회할 정보가 담긴 ${voClassName}
	 * @return 조회한 ${entity.name}
	 * @exception Exception
	 */
    public ${voClassName} ${selectMethodName}(${voClassName} vo) throws Exception {
        return (${voClassName}) selectByPk("${selectQueryId}", vo);
    }

    /**
	 * ${entity.name} 목록을 조회한다.
	 * @param searchMap - 조회할 정보가 담긴 Map
	 * @return ${entity.name} 목록
	 * @exception Exception
	 */
    public List<?> ${selectListMethodName}(SampleDefaultVO searchVO) throws Exception {
        return list("${selectListQueryId}", searchVO);
    }

    /**
	 * ${entity.name} 총 갯수를 조회한다.
	 * @param searchMap - 조회할 정보가 담긴 Map
	 * @return ${entity.name} 총 갯수
	 * @exception
	 */
    public int ${selectListTotCntMethodName}(SampleDefaultVO searchVO) {
        return (Integer)getSqlMapClientTemplate().queryForObject("${selectListTotCntQueryId}", searchVO);
    }

}
