<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="${txtTransactionName}" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="${txtDatasourceName}"/>
	</bean>

#if(${chkTransactionTemplate})
	<bean id="${txtTransactionTemplateName}" class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="${txtTransactionName}"/>
	</bean>
#end

#if(${chkConfigurationalTransactionManagement})
	<aop:config proxy-target-class="true">
		<aop:pointcut id="${txtPointCutName}" expression="${txtPointCutExpression}"/>
		<aop:advisor advice-ref="${txtAdviceName}" pointcut-ref="${txtPointCutName}" />
	</aop:config>

	<!-- 또는 pointcut을 bean으로 등록하지 않는다면
	<aop:config proxy-target-class="true">
		<aop:advisor advice-ref="${txtAdviceName}" pointcut="${txtPointCutExpression}" />
	</aop:config>
	-->

	<tx:advice id="${txtAdviceName}" transaction-manager="${txtTransactionName}">
		<tx:attributes>
			<tx:method name="${txtMethodName}"
#if(${chkReadOnly})
				read-only="${chkReadOnly}"
#end
#if(${chkRollbackFor})
				rollback-for="${txtRollbackFor}"
#end
#if(${chkNoRollbackFor})
				no-rollback-for="${txtNoRollbackFor}"
#end
#if(${chkTimeout})
				timeout="${txtTimeout}"
#end
				propagation="${cmbPropagation}"
				isolation="${cmbIsolation}" />
		</tx:attributes>
	</tx:advice>
#end

#if(${chkAnnotationTransactionManagement})
	<!-- 어노테이션(@Transactional) 기반 트랜잭션 관리 -->
	<tx:annotation-driven transaction-manager="${txtTransactionName}" proxy-target-class="true" />

	<!--
		transaction-manager는 다음 가이드를 참조한다.
		https://egovframework.github.io/egovframe-docs/egovframe-runtime/persistence-layer/transaction/
	-->
#end

</beans>