<bean id="${schedulerName}" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	<property name="triggers">
		<list>
		    #foreach($trigger in $triggers)		
			<ref bean="${trigger}" />
			#end
		</list>
	</property>
</bean>