<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="egovframework.dev.imp.codegen.model.editorPopupMenuContribution"
            targetID="net.java.amateras.uml.classdiagram.ClassDiagramEditor.EditorContext">
         <menu
               id="egovframework.dev.imp.codegen.model.menu"
               label="eGovFrame"
               path="generate">
            <separator name="eGovFrame"/>
         </menu>
         <action
               class="egovframework.dev.imp.codegen.model.actions.ModelBasedCodeGenAction"
               id="egovframework.dev.imp.codegen.model.actions.ModelBasedCodeGen"
               label="Model Based CodeGen"
               menubarPath="egovframework.dev.imp.codegen.model.menu/eGovFramework"/>
         <action
               class="egovframework.dev.imp.codegen.model.actions.XMIExportAction"
               id="egovframework.dev.imp.codegen.model.xmiexport"
               label="XMI Export"
               menubarPath="egovframework.dev.imp.codegen.model.menu/eGovFramework"/>
         <action
               class="egovframework.dev.imp.codegen.model.actions.XMIImportAction"
               id="egovframework.dev.imp.codegen.model.xmiimport"
               label="XMI Import"
               menubarPath="egovframework.dev.imp.codegen.model.menu/eGovFramework"/>                   
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:egovframework.dev.imp.core.menu.implementation?after=additions">
         <command
               commandId="egovframework.dev.imp.codegen.model.commands.XMIBasedCodeGen">
         </command>
         <separator
               name="egovframework.dev.imp.codegen.model.separator1"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="egovframework.dev.imp.ide.commands.category"
            id="egovframework.dev.imp.codegen.model.commands.XMIBasedCodeGen"
            name="XMI Based CodeGen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="egovframework.dev.imp.codegen.model.handlers.XMIBasedCodeGenHandler"
            commandId="egovframework.dev.imp.codegen.model.commands.XMIBasedCodeGen">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="egovframework.dev.imp.ide.perspectives.egovperspective">
         <newWizardShortcut
               id="egovframework.dev.imp.codegen.model.wizard.XMIBasedCodeGenWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>   
<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="xmi"
            name="XMI File"
            priority="high">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="XMI">
            </parameter>
         </describer>
      </content-type>
	</extension>


</plugin>
