<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <Appenders>
        <RollingFile name="${txtAppenderName}" fileName="${txtLogFileName}" filePattern="${txtLogFileNamePattern}">
            <PatternLayout pattern="${txtConversionPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${txtMaxFileSize}"/>
            </Policies>
            <DefaultRolloverStrategy max="${txtMaxIndex}"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="${txtAppenderName}" />
        </Logger>
        <Logger name="org.egovframe" level="DEBUG" additivity="false">
            <AppenderRef ref="${txtAppenderName}" />
        </Logger>
        <Logger name="org.springframework" level="DEBUG" additivity="false">
            <AppenderRef ref="${txtAppenderName}" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="${txtAppenderName}" />
        </Root>
    </Loggers>
</Configuration>
