# File Appender 설정
appender.rolling_file0.type = RollingFile
appender.rolling_file0.name = ${txtAppenderName}
appender.rolling_file0.fileName = ${txtLogFileName}
appender.rolling_file0.filePattern = ${txtLogFileNamePattern}
appender.rolling_file0.layout.type = PatternLayout
appender.rolling_file0.layout.pattern = ${txtConversionPattern}
appender.rolling_file0.policies.type = Policies
appender.rolling_file0.policies.size.type = SizeBasedTriggeringPolicy
appender.rolling_file0.policies.size.size = ${txtMaxFileSize}
appender.rolling_file0.strategy.type = DefaultRolloverStrategy
appender.rolling_file0.strategy.max = ${txtMaxIndex}

# Logger 설정
logger.egovframework.name = egovframework
logger.egovframework.level = DEBUG
logger.egovframework.additivity = false
logger.egovframework.appenderRef.rolling_file0.ref = ${txtAppenderName}

logger.org-egovframe.name = org.egovframe
logger.org-egovframe.level = DEBUG
logger.org-egovframe.additivity = false
logger.org-egovframe.appenderRef.rolling_file0.ref = ${txtAppenderName}

logger.org-springframework.name = org.springframework
logger.org-springframework.level = INFO
logger.org-springframework.additivity = false
logger.org-springframework.appenderRef.rolling_file0.ref = ${txtAppenderName}

# Root Logger 설정
rootLogger.level = INFO
rootLogger.appenderRef.rolling_file0.ref = ${txtAppenderName}
