##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($defaultVoClassName="${model.entity.pcName}DefaultVO")
#set($searchVOAlias="${model.entity.ccName}SerarchVO")
#set($daoPackage="${daoPackage}")
#set($daoClassName="${model.entity.pcName}DAO")
#set($daoName="${model.entity.ccName}DAO")
#set($daoInstanceName="${model.entity.ccName}DAO")
##
##
#set($vender="$model.vender")
#set($namespace="$model.entity.pcName")
#set($resultMapId="${daoInstanceName}.resultMap")
#set($resultMapClass="${voPackage}.${voClassName}")
##
##
#set($insertQueryId="${daoInstanceName}.insert${model.entity.pcName}_S")
#set($updateQueryId="${daoInstanceName}.update${model.entity.pcName}_S")
#set($deleteQueryId="${daoInstanceName}.delete${model.entity.pcName}_S")
#set($selectQueryId="${daoInstanceName}.select${model.entity.pcName}_S")
#set($selectListQueryId="${daoInstanceName}.select${model.entity.pcName}List_D")
#set($selectListTotCntQueryId="${daoInstanceName}.select${model.entity.pcName}ListTotCnt_S")
##
##
#set($parameterClass="${voPackage}.${defaultVoClassName}")
##
##
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap namespace="$namespace">

## --------------------------------------------------------------------------------------------------------
##	<typeAlias  alias="egovMap" type="org.egovframe.rte.psl.dataaccess.util.EgovMap"/>
##	<typeAlias  alias="${searchVOAlias}" type="${voPackage}.${defaultVoClassName}"/>
##
## --------------------------------------------------------------------------------------------------------
	<resultMap id="$resultMapId" class="$resultMapClass">
#set($i=0)
#foreach($attribute in $model.attributes)
#set($i=$i+1)
		<result property="${attribute.ccName}" column="${attribute.name}" columnIndex="$i" />
#end
	</resultMap>

## ##################################################################################################
	<insert id="${insertQueryId}">
<![CDATA[
/* ${insertQueryId} */
/* ${model.author} ${model.entity.name} 등록 */
INSERT INTO
	${model.entity.name}
(
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
	${attribute.name},
#elseif($i == $model.attributes.size() - 1)
	${attribute.name}
#else
	${attribute.name},
#end
#set($i=$i+1)
#end
) VALUES (
##
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
	#${attribute.ccName}#,
#elseif($i == $model.attributes.size() - 1)
	#${attribute.ccName}#
#else
	#${attribute.ccName}#,
#end
#set($i=$i+1)
#end
)
]]>
	</insert>

## ##################################################################################################
	<update id="${updateQueryId}">
<![CDATA[
/* ${updateQueryId} */
/* ${model.author} ${model.entity.name} 수정 */
UPDATE
	${model.entity.name}
SET
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
	${attribute.name} = #${attribute.ccName}#,
#elseif($i == $model.attributes.size() - 1)
	${attribute.name} = #${attribute.ccName}#
#else
	${attribute.name} = #${attribute.ccName}#,
#end
#set($i=$i+1)
#end
##
#if(!${model.primaryKeys} == [])
WHERE
	${model.attributes.get(0).name} = #${model.attributes.get(0).ccName}#
#else
#set($i=0)
#foreach($attribute in $model.primaryKeys)
#if($i == 0)
WHERE
	${attribute.name} = #${attribute.ccName}#
#else
	AND ${attribute.name} = #${attribute.ccName}#
#end
#set($i=$i+1)
#end
#end
]]>
	</update>

## ##################################################################################################
	<delete id="${deleteQueryId}">
<![CDATA[
/* ${deleteQueryId} */
/* ${model.author} ${model.entity.name} 삭제 */
DELETE
FROM
	${model.entity.name}
#if(!${model.primaryKeys} == [])
WHERE
	${model.attributes.get(0).name} = #${model.attributes.get(0).ccName}#
#else
#set($i=0)
#foreach($attribute in $model.primaryKeys)
#if($i == 0)
WHERE
	${attribute.name} = #${attribute.ccName}#
#else
	AND ${attribute.name} = #${attribute.ccName}#
#end
#set($i=$i+1)
#end
#end
]]>
	</delete>

## ##################################################################################################
	<select id="${selectQueryId}" resultMap="$resultMapId">
<![CDATA[
/* ${selectQueryId} */
/* ${model.author} ${model.entity.name} 조회(단건) */
SELECT
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
	${attribute.name},
#elseif($i == $model.attributes.size() - 1)
	${attribute.name}
#else
	${attribute.name},
#end
#set($i=$i+1)
#end
FROM
	${model.entity.name}
#if(!${model.primaryKeys} == [])
WHERE
	${model.attributes.get(0).name} = #${model.attributes.get(0).ccName}#
#else
#set($i=0)
#foreach($attribute in $model.primaryKeys)
#if($i == 0)
WHERE
	${attribute.name} = #${attribute.ccName}#
#else
	AND ${attribute.name} = #${attribute.ccName}#
#end
#set($i=$i+1)
#end
#end
]]>
	</select>

## ##################################################################################################
	<select id="${selectListQueryId}" parameterClass="${parameterClass}" resultClass="org.egovframe.rte.psl.dataaccess.util.EgovMap">
<![CDATA[
/* ${selectListQueryId} */
/* ${model.author} ${model.entity.name} 조회(멀티건) */
#if($vender == "HSQLDB")
SELECT
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
	${attribute.name},
#elseif($i == $model.attributes.size() - 1)
	${attribute.name}
#else
	${attribute.name},
#end
#set($i=$i+1)
#end
FROM
	${model.entity.name}
WHERE
	1 = 1
]]>
		<isEqual property="searchCondition" compareValue="0">
	AND ${model.attributes.get(0).name} = #searchKeyword#
		</isEqual>
		<isEqual property="searchCondition" compareValue="1">
	AND ${model.attributes.get(1).name} LIKE '%' || #searchKeyword# || '%'
		</isEqual>
ORDER BY
#if(!${model.primaryKeys} == [])
	${model.attributes.get(0).name} DESC
#else
#set($i=0)
#foreach($attribute in $model.primaryKeys)
#if($i == 0)
	${attribute.name} DESC
#else
	, ${attribute.name} DESC
#end
#set($i=$i+1)
#end
#end
LIMIT #recordCountPerPage# OFFSET #firstIndex#
#elseif($vender == "Oracle")
SELECT * FROM (
	SELECT A.*, ROWNUM RNUM FROM (
SELECT
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
	${attribute.name},
#elseif($i == $model.attributes.size() - 1)
	${attribute.name}
#else
	${attribute.name},
#end
#set($i=$i+1)
#end
FROM
	${model.entity.name}
WHERE
	1 = 1
]]>
		<isEqual property="searchCondition" compareValue="0">
<![CDATA[
	AND ${model.attributes.get(0).name} = #searchKeyword#
]]>
		</isEqual>
		<isEqual property="searchCondition" compareValue="1">
<![CDATA[
	AND ${model.attributes.get(1).name} LIKE '%' || #searchKeyword# || '%'
]]>
		</isEqual>
<![CDATA[
ORDER BY
#if(!${model.primaryKeys} == [])
	${model.attributes.get(0).name} DESC
#else
#set($i=0)
#foreach($attribute in $model.primaryKeys)
#if($i == 0)
	${attribute.name} DESC
#else
	, ${attribute.name} DESC
#end
#set($i=$i+1)
#end
#end
	) A WHERE ROWNUM <= #lastIndex#
)WHERE RNUM > #firstIndex#
]]>
#elseif($vender == "MySql")
SELECT
#set($i=0)
#foreach($attribute in $model.attributes)
#if($i == 0)
	${attribute.name},
#elseif($i == $model.attributes.size() - 1)
	${attribute.name}
#else
	${attribute.name},
#end
#set($i=$i+1)
#end
FROM
	${model.entity.name}
WHERE
	1 = 1
]]>
		<isEqual property="searchCondition" compareValue="0">
<![CDATA[
	AND ${model.attributes.get(0).name} = #searchKeyword#
]]>
		</isEqual>
		<isEqual property="searchCondition" compareValue="1">
<![CDATA[
	AND ${model.attributes.get(1).name} LIKE CONCAT('%', #searchKeyword#, '%')
]]>
		</isEqual>
<![CDATA[
ORDER BY
#if(!${model.primaryKeys} == [])
	${model.attributes.get(0).name} DESC
#else
#set($i=0)
#foreach($attribute in $model.primaryKeys)
#if($i == 0)
	${attribute.name} DESC
#else
	, ${attribute.name} DESC
#end
#set($i=$i+1)
#end
#end
LIMIT #firstIndex#, #recordCountPerPage#
]]>
#else

#end
	</select>

## ##################################################################################################
	<select id="${selectListTotCntQueryId}" parameterClass="${parameterClass}" resultClass="int">
<![CDATA[
/* ${selectListTotCntQueryId} */
/* ${model.author} ${model.entity.name} 조회(멀티건) 카운트 */
#if($vender == "HSQLDB")
SELECT
	COUNT(*) AS TOTCNT
FROM
	${model.entity.name}
WHERE
	1 = 1
]]>
		<isEqual property="searchCondition" compareValue="0">
<![CDATA[
	AND ${model.attributes.get(0).name} = #searchKeyword#
]]>
		</isEqual>

		<isEqual property="searchCondition" compareValue="1">
<![CDATA[
	AND ${model.attributes.get(1).name} LIKE '%' || #searchKeyword# || '%'
]]>
		</isEqual>
#elseif($vender == "Oracle")
SELECT
	COUNT(*) AS TOTCNT
FROM
	${model.entity.name}
WHERE 1 = 1
]]>
		<isEqual property="searchCondition" compareValue="0">
<![CDATA[
	AND ${model.attributes.get(0).name} = #searchKeyword#
]]>
		</isEqual>

		<isEqual property="searchCondition" compareValue="1">
<![CDATA[
	AND ${model.attributes.get(1).name} LIKE '%' || #searchKeyword# || '%'
]]>
		</isEqual>
#elseif($vender == "MySql")
SELECT
	COUNT(*) AS TOTCNT
FROM
	${model.entity.name}
WHERE
	1 = 1
]]>
		<isEqual property="searchCondition" compareValue="0">
<![CDATA[
	AND ${model.attributes.get(0).name} = #searchKeyword#
]]>
		</isEqual>

		<isEqual property="searchCondition" compareValue="1">
<![CDATA[
	AND ${model.attributes.get(1).name} LIKE CONCAT('%', #searchKeyword#, '%')
]]>
		</isEqual>
#else

#end
	</select>

</sqlMap>
