##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($defaultVoClassName="${model.entity.pcName}DefaultVO")
#set($searchVOAlias="${model.entity.ccName}SerarchVO")
#set($mapperPackage="${mapperPackage}")
#set($mapperClassName="${model.entity.pcName}Mapper")
#set($mapperName="${model.entity.ccName}Mapper")
#set($mapperInstanceName="${model.entity.ccName}Mapper")
##
##
#set($vender="$model.vender")
#set($namespace="${mapperPackage}.${mapperClassName}")
#set($resultMapId="${model.entity.ccName}")
#set($resultMapClass="${voPackage}.${voClassName}")
##
##
#set($insertQueryId="insert${model.entity.pcName}")
#set($updateQueryId="update${model.entity.pcName}")
#set($deleteQueryId="delete${model.entity.pcName}")
#set($selectQueryId="select${model.entity.pcName}")
#set($selectListQueryId="select${model.entity.pcName}List")
#set($selectListTotCntQueryId="select${model.entity.pcName}ListTotCnt")
##
##
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="$namespace">
	
## --------------------------------------------------------------------------------------------------------

## --------------------------------------------------------------------------------------------------------
	<resultMap id="$resultMapId" type="$resultMapClass">
#set($i=0)	
#foreach($attribute in $model.attributes)
#set($i=$i+1)	
		<result property="${attribute.ccName}" column="${attribute.name}" />
#end		
	</resultMap>
	
## ##################################################################################################
	<insert id="${insertQueryId}">
		<![CDATA[
			INSERT INTO ${model.entity.name} 
#set($i=0)	
#foreach($attribute in $model.attributes)
#if($i == 0)
				( ${attribute.name}
#elseif($i < ($model.attributes.size() - 1))
				  , ${attribute.name}
#else
				  , ${attribute.name} )
#end
#set($i=$i+1)
#end
##
#set($i=0)	
#foreach($attribute in $model.attributes)
#if($i == 0)
			VALUES ( #{${attribute.ccName}}
#elseif($i < ($model.attributes.size() - 1))
				  , #{${attribute.ccName}}
#else
				  , #{${attribute.ccName}} )
#end
#set($i=$i+1)
#end
		]]>
	</insert>
	
## ##################################################################################################	
	<update id="${updateQueryId}">
		<![CDATA[
			UPDATE ${model.entity.name}
#set($i=0)	
#foreach($attribute in $model.attributes)
#if($i == 0)
			SET ${attribute.name}=#{${attribute.ccName}}
#else
				, ${attribute.name}=#{${attribute.ccName}}
#end
#set($i=$i+1)
#end	
##		
#if(!${model.primaryKeys} == [])
                WHERE ${model.attributes.get(0).name}=#{${model.attributes.get(0).ccName}}
#else
	#set($i=0)	
	#foreach($attribute in $model.primaryKeys)
	#if($i == 0)
				WHERE ${attribute.name}=#{${attribute.ccName}}
	#else
					AND ${attribute.name}=#{${attribute.ccName}}
	#end
	#set($i=$i+1)
	#end
#end
		]]>
	</update>
	
## ##################################################################################################
	<delete id="${deleteQueryId}">
		<![CDATA[
			DELETE FROM ${model.entity.name} 
#if(!${model.primaryKeys} == [])
                WHERE ${model.attributes.get(0).name}=#{${model.attributes.get(0).ccName}}
#else 
	#set($i=0)	
	#foreach($attribute in $model.primaryKeys)
	#if($i == 0)
				WHERE ${attribute.name}=#{${attribute.ccName}}
	#else
					AND ${attribute.name}=#{${attribute.ccName}}
	#end
	#set($i=$i+1)
	#end
#end
		]]>
	</delete>
	
## ##################################################################################################	
	<select id="${selectQueryId}" resultMap="$resultMapId">
		<![CDATA[
			SELECT
#set($i=0)	
#foreach($attribute in $model.attributes)
#if($i == 0)
				${attribute.name}
#else
				, ${attribute.name}
#end
#set($i=$i+1)
#end				
			FROM ${model.entity.name}
#if(!${model.primaryKeys} == [])
                WHERE ${model.attributes.get(0).name}=#{${model.attributes.get(0).ccName}}
#else 
	#set($i=0)	
	#foreach($attribute in $model.primaryKeys)
	#if($i == 0)
				WHERE ${attribute.name}=#{${attribute.ccName}}
	#else
					AND ${attribute.name}=#{${attribute.ccName}}
	#end
	#set($i=$i+1)
	#end
#end
		]]>
	</select>
	
## ##################################################################################################	
	<select id="${selectListQueryId}" parameterType="${resultMapClass}" resultType="egovMap">
#if($vender == "HSQLDB")
			SELECT
	#set($i=0)	
	#foreach($attribute in $model.attributes)
	#if($i == 0)
					${attribute.name}
	#else
					, ${attribute.name}
	#end
	#set($i=$i+1)
	#end	
			FROM ${model.entity.name}
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					${model.attributes.get(0).name} = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					${model.attributes.get(1).name} LIKE '%' || #{searchKeyword} || '%'
				</if>
			</if>
				ORDER BY 
#if(!${model.primaryKeys} == [])
                ${model.attributes.get(0).name} DESC
#else 				
	#set($i=0)				
	#foreach($attribute in $model.primaryKeys)
	#if($i == 0)
				${attribute.name} DESC
	#else
				, ${attribute.name} DESC
	#end
	#set($i=$i+1)
	#end
#end
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
#elseif($vender == "Oracle")
SELECT * FROM (
	SELECT A.*, ROWNUM RNUM FROM (
				SELECT
	#set($i=0)	
	#foreach($attribute in $model.attributes)
	#if($i == 0)
					${attribute.name}
	#else
					, ${attribute.name}
	#end
	#set($i=$i+1)
	#end
				FROM ${model.entity.name}
				WHERE 1=1
				<if test="searchKeyword != null and searchKeyword != ''">
					<if test="searchCondition == 0">AND
						${model.attributes.get(0).name} = #{searchKeyword}
					</if>
					<if test="searchCondition == 1">AND
						${model.attributes.get(1).name} LIKE '%' || #{searchKeyword} || '%'
					</if>
				</if>
					ORDER BY 
#if(!${model.primaryKeys} == [])
                ${model.attributes.get(0).name} DESC
#else					
	#set($i=0)				
	#foreach($attribute in $model.primaryKeys)
	#if($i == 0)
				${attribute.name} DESC
	#else
				, ${attribute.name} DESC
	#end
	#set($i=$i+1)
	#end
#end

		<![CDATA[					
	) A WHERE ROWNUM <= #{lastIndex}
)WHERE RNUM > #{firstIndex}
]]>
#elseif($vender == "MySql" || $vender == "postgres")
			SELECT
	#set($i=0)	
	#foreach($attribute in $model.attributes)
	#if($i == 0)
					${attribute.name}
	#else
					, ${attribute.name}
	#end
	#set($i=$i+1)
	#end
			FROM ${model.entity.name}
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					${model.attributes.get(0).name} = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					${model.attributes.get(1).name} LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>
				ORDER BY 
#if(!${model.primaryKeys} == [])
                ${model.attributes.get(0).name} DESC
#else				
	#set($i=0)				
	#foreach($attribute in $model.primaryKeys)
	#if($i == 0)
				${attribute.name} DESC
	#else
				, ${attribute.name} DESC
	#end
	#set($i=$i+1)
	#end
#end
			limit #{recordCountPerPage} offset #{firstIndex}	
#else

#end			
	</select>	
## ##################################################################################################	
	<select id="${selectListTotCntQueryId}" parameterType="${resultMapClass}" resultType="int">
#if($vender == "HSQLDB")
			SELECT COUNT(*) totcnt
			FROM ${model.entity.name}
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					${model.attributes.get(0).name} = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					${model.attributes.get(1).name} LIKE '%' || #{searchKeyword} || '%'
				</if>
			</if>
#elseif($vender == "Oracle")
			SELECT COUNT(*) totcnt
			FROM ${model.entity.name}
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					${model.attributes.get(0).name} = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					${model.attributes.get(1).name} LIKE '%' || #{searchKeyword} || '%'
				</if>
			</if>
#elseif($vender == "MySql" || $vender == "postgres")
			SELECT COUNT(*) totcnt
			FROM ${model.entity.name}
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					${model.attributes.get(0).name} = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					${model.attributes.get(1).name} LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>			
#else

#end			
	</select>

</mapper>
