<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="egovframework.dev.imp.core.wizards"
            class="egovframework.bdev.tst.wizards.EgovBatchJobTestWizard"
            finalPerspective="egovframework.dev.imp.core.perspectives.egovperspective"
            icon="icons/sm_JobTest.png"
            id="egovframework.bdev.tst.wizards.EgovBatchJobTestWizard"
            name="eGovFrame Batch Job Test">
      </wizard>
      
   </extension>
	 <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="egovframework.dev.imp.core.perspectives.egovperspective">
         <newWizardShortcut
               id="egovframework.bdev.tst.wizards.EgovBatchJobTestWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="egovframework.bdev.tst.wizards.EgovBatchJobTestWizard">
         </newWizardShortcut>
      </perspectiveExtension>
 
      
   </extension>

</plugin>
