<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="egovframework.bdev.imp.ide.natures.egovnature"
         name="EgovBatchNature"
         point="org.eclipse.core.resources.natures">
         
         <runtime>
	  		<run class="egovframework.bdev.imp.batchnature.EgovBatchNature" />
		</runtime>
		<!--
		<requires-nature id="org.eclipse.jdt.core.javanature" />
		-->
		<!-- if this nature requires Web project
		<requires-nature id="org.eclipse.wst.common.modulecore.ModuleCoreNature" />
		-->
		<builder id="egovframework.bdev.imp.batchnature.natures" />
   </extension>
   
   <extension
         id="egovframework.bdev.imp.batchnature.natures"
         name="EgovBatchNature Builder"
         point="org.eclipse.core.resources.builders">
         	<builder hasNature="true">
        		<run class="egovframework.bdev.imp.batchnature.natures.EgovBatchNatureBuilder" />
     		</builder>
   </extension>
   
    <extension
         point="org.eclipse.ui.popupMenus">
       <objectContribution
                 adaptable="true"
                 id="egovframework.bdev.nature.contribution1"
                 objectClass="org.eclipse.core.resources.IProject">
           <visibility>
           <or>
               <objectState
                     value="org.eclipse.jdt.core.javanature"
                     name="nature" />
               <objectState
                     value="egovframework.dev.imp.ide.natures.egovnature"
                     name="nature" />
               <objectState
                 value="egovframework.mdev.imp.ide.natures.egovnature"
                 name="nature"/>
            </or>
           </visibility>
           <menu
               label="eGovFrame Batch Tool"
               id="egovframework.bdev.nature.ui.menu1">
             <separator
                  name="egovframework.bdev.imp.batchnature.separator1">
             </separator>
           </menu>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.apache.derby.ui.DerbyActions"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
           <and>
            <not>
               <objectState
                     value="egovframework.bdev.imp.ide.natures.egovnature"
                     name="nature"/>
            </not>
            <or>
	            <objectState
	                 value="egovframework.dev.imp.ide.natures.egovnature"
	                 name="nature"/>
	            <objectState
	                 value="egovframework.mdev.imp.ide.natures.egovnature"
	                 name="nature"/>
	         </or>
           </and>
         </visibility>
         <action
               enablesFor="1"
               label="Add EgovBatch Nature"
               icon="icons/add.gif"
               class="egovframework.bdev.imp.batchnature.actions.AddEgovBatchNatureAction"
               menubarPath="egovframework.bdev.nature.ui.menu1/egovframework.bdev.imp.batchnature.separator1"
               id="egovframework.bdev.imp.batchnature.action1"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.apache.derby.ui.DerbyProjects"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
           <or>
            <objectState
                  value="egovframework.bdev.imp.ide.natures.egovnature"
                  name="nature"/>
             <objectState
                 value="egovframework.mdev.imp.ide.natures.egovnature"
                 name="nature"/>
            </or>
         </visibility>
         <action
               enablesFor="1"
               label="Remove EgovBatch Nature"
               icon="icons/remove.gif"
               class="egovframework.bdev.imp.batchnature.actions.RemoveEgovBatchNatureAction"
               menubarPath="egovframework.bdev.nature.ui.menu1/egovframework.bdev.imp.batchnature.separator1"
               id="egovframework.bdev.imp.batchnature.action2"/>
      </objectContribution>
      </extension>
</plugin>
