##
#set($voPackage="${voPackage}")
#set($defaultVoClassName="${model.entity.pcName}DefaultVO")
##
##
package $voPackage;

import egovframework.com.cmm.ComDefaultVO;
import lombok.NoArgsConstructor;

/**
 * @Class Name : ${defaultVoClassName}.java
 * @Description : ${model.entity.pcName} Default VO class
 * @Modification Information
 *
 * @author ${author}
 * @since ${createDate}
 * @version 1.0
 * @see
 * 
 *      Copyright (C) All right reserved.
 */
@NoArgsConstructor
public class ${defaultVoClassName} extends ComDefaultVO {

	/**
	 * 직렬 버전 UID
	 */
	private static final long serialVersionUID = 1L; // TODO Add generated serial version ID

	/**
	 * 최초등록자명
	 * 
	 * @컬럼 `FRST_REGISTER_ID` varchar(20) DEFAULT NULL COMMENT '최초등록자ID',
	 */
	private String frstRegisterNm;

	public static long getSerialversionuid() {
		return serialVersionUID;
	}

	/**
	 * 최초등록자명 값읽기
	 * 
	 * @return
	 * @컬럼 `FRST_REGISTER_ID` varchar(20) DEFAULT NULL COMMENT '최초등록자ID',
	 */
	public String getFrstRegisterNm() {
		return frstRegisterNm;
	}

	/**
	 * 최초등록자명 값설정
	 * 
	 * @param frstRegisterNm
	 * @컬럼 `FRST_REGISTER_ID` varchar(20) DEFAULT NULL COMMENT '최초등록자ID',
	 */
	public void setFrstRegisterNm(final String frstRegisterNm) {
		this.frstRegisterNm = frstRegisterNm;
	}

}
