<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="sample2DAO"> -->
<mapper namespace="pkg.service.impl.Sample2Mapper">
	

	<resultMap id="sample2" type="pkg.service.Sample2VO">
		<result property="id" column="ID" />
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="useYn" column="USE_YN" />
		<result property="regUser" column="REG_USER" />
	</resultMap>
	
	<insert id="insertSample2">
		<![CDATA[
			INSERT INTO SAMPLE2 
				( ID
				  , NAME
				  , DESCRIPTION
				  , USE_YN
				  , REG_USER )
			VALUES ( #{id}
				  , #{name}
				  , #{description}
				  , #{useYn}
				  , #{regUser} )
		]]>
	</insert>
	
	<update id="updateSample2">
		<![CDATA[
			UPDATE SAMPLE2
			SET ID=#{id}
				, NAME=#{name}
				, DESCRIPTION=#{description}
				, USE_YN=#{useYn}
				, REG_USER=#{regUser}
						WHERE ID=#{id}
				]]>
	</update>
	
	<delete id="deleteSample2">
		<![CDATA[
			DELETE FROM SAMPLE2 
						WHERE ID=#{id}
				]]>
	</delete>
	
	<select id="selectSample2" resultMap="sample2">
		<![CDATA[
			SELECT
				ID
				, NAME
				, DESCRIPTION
				, USE_YN
				, REG_USER
			FROM SAMPLE2
						WHERE ID=#{id}
				]]>
	</select>
	
	<select id="selectSample2List" parameterType="pkg.service.Sample2VO" resultType="egovMap">
			SELECT
								ID
								, NAME
								, DESCRIPTION
								, USE_YN
								, REG_USER
					FROM SAMPLE2
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					ID = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					NAME LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>
				ORDER BY 
						ID DESC
					limit #{recordCountPerPage} offset #{firstIndex}	
	</select>	
	<select id="selectSample2ListTotCnt" parameterType="pkg.service.Sample2VO" resultType="int">
			SELECT COUNT(*) totcnt
			FROM SAMPLE2
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					ID = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					NAME LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>			
	</select>

</mapper>