##
#set($voPackage="${voPackage}")
#set($voClassName="${model.entity.pcName}VO")
#set($voInstanceName="${model.entity.ccName}VO")
#set($servicePackage="${servicePackage}")
#set($serviceClassName="${model.entity.pcName}Service")
#set($serviceName="${model.entity.ccName}Service")
#set($serviceInstanceName="${model.entity.ccName}Service")
#set($controllerPackage="${controllerPackage}")
#set($controllerClassName="${model.entity.pcName}Controller")
##
##
#set($listInstanceName="${model.entity.ccName}List")
#set($insertMethodName="insert${model.entity.pcName}")
#set($updateMethodName="update${model.entity.pcName}")
#set($deleteMethodName="delete${model.entity.pcName}")
#set($selectMethodName="select${model.entity.pcName}")
#set($selectListMethodName="select${model.entity.pcName}List")
#set($selectListTotCntMethodName="select${model.entity.pcName}ListTotCnt")
##
##
#set($listPath="/${model.entity.ccName}/${model.entity.ccName}List.do")
#set($addPath="/${model.entity.ccName}/add${model.entity.pcName}.do")
#set($addViewPath="/${model.entity.ccName}/add${model.entity.pcName}View.do")
#set($updatePath="/${model.entity.ccName}/update${model.entity.pcName}.do")
#set($updateViewPath="/${model.entity.ccName}/update${model.entity.pcName}View.do")
#set($deletePath="/${model.entity.ccName}/delete${model.entity.pcName}.do")
##
#set($listView="${model.entity.ccName}/${model.entity.ccName}List")
#set($registerView="${model.entity.ccName}/${model.entity.ccName}Register")
##
##
package ${controllerPackage};

import java.util.List;

import org.egovframe.rte.fdl.property.EgovPropertyService;
import org.egovframe.rte.ptl.mvc.tags.ui.pagination.PaginationInfo;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.ui.ModelMap;
import org.springframework.validation.BindingResult;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.support.SessionStatus;
import org.springframework.web.servlet.mvc.support.RedirectAttributes;

#if (${servicePackage}=='${servicePackage}')
// Service 객체에 대한 import 구문
// import (service package).${serviceClassName};
#else
import ${servicePackage}.${serviceClassName};
#end
#if (${voPackage}=='${voPackage}')
// Vo 객체에 대한 import 구문
// import (vo package).${voClassName};
#else
import ${voPackage}.${voClassName};
#end
import jakarta.annotation.Resource;
import jakarta.validation.Valid;

/**
 * @Class Name : ${controllerClassName}.java
 * @Description : ${model.entity.pcName} Controller class
 * @Modification Information
 *
 * @author ${author}
 * @since ${createDate}
 * @version 1.0
 * @see
 *
 *  Copyright (C)  All right reserved.
 */

@Controller
public class ${controllerClassName} {

	/** ${serviceClassName} */
	@Resource(name = "${serviceName}")
	private ${serviceClassName} ${serviceInstanceName};

	/** EgovPropertyService */
	@Resource(name = "propertiesService")
	private EgovPropertyService propertiesService;

	/**
	 * 글 목록을 조회한다. (pageing)
	 * @param ${voInstanceName} - 조회할 정보가 담긴 ${voClassName}
	 * @param model
	 * @return "${listView}"
	 * @exception Exception
	 */
	@GetMapping("${listPath}")
	public String ${selectListMethodName}(@ModelAttribute("${voInstanceName}") ${voClassName} ${voInstanceName}, ModelMap model) throws Exception {

		/** EgovPropertyService.sample */
		${voInstanceName}.setPageUnit(propertiesService.getInt("pageUnit"));
		${voInstanceName}.setPageSize(propertiesService.getInt("pageSize"));

		/** pageing setting */
		PaginationInfo paginationInfo = new PaginationInfo();
		paginationInfo.setCurrentPageNo(${voInstanceName}.getPageIndex());
		paginationInfo.setRecordCountPerPage(${voInstanceName}.getPageUnit());
		paginationInfo.setPageSize(${voInstanceName}.getPageSize());

		${voInstanceName}.setFirstIndex(paginationInfo.getFirstRecordIndex());
		${voInstanceName}.setLastIndex(paginationInfo.getLastRecordIndex());
		${voInstanceName}.setRecordCountPerPage(paginationInfo.getRecordCountPerPage());

		/** List */
		List<?> ${listInstanceName} = ${serviceInstanceName}.${selectListMethodName}(${voInstanceName});
		model.addAttribute("resultList", ${listInstanceName});

		/** Count */
		int totCnt = ${serviceInstanceName}.${selectListTotCntMethodName}(${voInstanceName});
		paginationInfo.setTotalRecordCount(totCnt);

		/** Pagination */
		model.addAttribute("paginationInfo", paginationInfo);

		return "${listView}";
	}

	/**
	 * 글 등록 화면을 조회한다.
	 * @param ${voInstanceName} - 목록 조회조건 정보가 담긴 VO
	 * @param model
	 * @return "${registerView}"
	 * @exception Exception
	 */
	@PostMapping("${addViewPath}")
	public String add${model.entity.pcName}View(@ModelAttribute("${voInstanceName}") ${voClassName} ${voInstanceName}, Model model) throws Exception {
	
		model.addAttribute("${voInstanceName}", ${voInstanceName});
		
		return "${registerView}";
	}

	/**
	 * 글을 등록한다.
	 * @param ${voInstanceName} - 등록할 정보가 담긴 VO
	 * @param bindingResult
	 * @param model
	 * @param status
	 * @return "redirect:${listPath}"
	 * @exception Exception
	 */
	@PostMapping("${addPath}")
	public String add${model.entity.pcName}(@Valid @ModelAttribute("${voInstanceName}") ${voClassName} ${voInstanceName}, BindingResult bindingResult, Model model, SessionStatus status) throws Exception {

		if (bindingResult.hasErrors()) {
			model.addAttribute("${voInstanceName}", ${voInstanceName});
			return "${registerView}";
		}

		${serviceInstanceName}.${insertMethodName}(${voInstanceName});
		status.setComplete();

		return "redirect:${listPath}";
	}

	/**
	 * 글 수정화면을 조회한다.
#if(${model.primaryKeys} == [])
	 * @param ${model.attributes.get(0).ccName} - 수정할 글 ${model.attributes.get(0).ccName}
#else
#foreach($attribute in $model.primaryKeys)
	 * @param ${attribute.ccName} - 수정할 글 ${attribute.ccName}
#end
#end
	 * @param model
	 * @return "${registerView}"
	 * @exception Exception
	 */
	@PostMapping("${updateViewPath}")
	public String update${model.entity.pcName}View(@ModelAttribute("${voInstanceName}") ${voClassName} ${voInstanceName}, Model model) throws Exception {
	
		${voClassName} detail = ${serviceInstanceName}.${selectMethodName}(${voInstanceName});
		detail.setSearchCondition(${voInstanceName}.getSearchCondition());
		detail.setSearchKeyword(${voInstanceName}.getSearchKeyword());
		detail.setPageIndex(${voInstanceName}.getPageIndex());
		
		model.addAttribute("${voInstanceName}", detail);
		
		return "${registerView}";
	}

	/**
	 * 글을 수정한다.
	 * @param ${voInstanceName} - 수정할 정보가 담긴 VO
	 * @param bindingResult
	 * @param model
	 * @param status
	 * @return "redirect:${listPath}"
	 * @exception Exception
	 */
	@PostMapping("${updatePath}")
	public String update${model.entity.pcName}(@Valid @ModelAttribute("${voInstanceName}") ${voClassName} ${voInstanceName}, BindingResult bindingResult, Model model, RedirectAttributes redirectAttributes, SessionStatus status) throws Exception {

		if (bindingResult.hasErrors()) {
			model.addAttribute("${voInstanceName}", ${voInstanceName});
			return "${registerView}";
		}

		${serviceInstanceName}.${updateMethodName}(${voInstanceName});
		status.setComplete();

		redirectAttributes.addAttribute("searchCondition", ${voInstanceName}.getSearchCondition());
		redirectAttributes.addAttribute("searchKeyword", ${voInstanceName}.getSearchKeyword());
		redirectAttributes.addAttribute("pageIndex", ${voInstanceName}.getPageIndex());

		return "redirect:${listPath}";
	}

	/**
	 * 글을 삭제한다.
	 * @param ${voInstanceName} - 삭제할 정보가 담긴 VO
	 * @param model
	 * @param status
	 * @return "redirect:${listPath}"
	 * @exception Exception
	 */
	@PostMapping("${deletePath}")
	public String delete${model.entity.pcName}(@ModelAttribute("${voInstanceName}") ${voClassName} ${voInstanceName}, RedirectAttributes redirectAttributes, SessionStatus status) throws Exception {
		${serviceInstanceName}.${deleteMethodName}(${voInstanceName});
		status.setComplete();

		redirectAttributes.addAttribute("searchCondition", ${voInstanceName}.getSearchCondition());
		redirectAttributes.addAttribute("searchKeyword", ${voInstanceName}.getSearchKeyword());
		redirectAttributes.addAttribute("pageIndex", ${voInstanceName}.getPageIndex());

		return "redirect:${listPath}";
	}

}
