package ${txtConfigPackage};
import javax.sql.DataSource;

import org.egovframe.rte.fdl.idgnr.impl.EgovSequenceIdGnrServiceImpl;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

@Configuration
public class ${templateUtil.substringAfterLast(${txtClassName}, ".")} {

    @Bean(name="${txtIdServiceName}", destroyMethod = "destroy")
    public EgovSequenceIdGnrServiceImpl sequenceIdGnrService(@Qualifier("${txtDatasourceName}") DataSource dataSource) {
    	EgovSequenceIdGnrServiceImpl egovSequenceIdGnrService = new EgovSequenceIdGnrServiceImpl();
        egovSequenceIdGnrService.setDataSource(dataSource);
        egovSequenceIdGnrService.setQuery("${txtQuery}");
#if(${rdoType} == "BigDecimal")        
        egovSequenceIdGnrService.setUseBigDecimals(true);
#end        
        return egovSequenceIdGnrService;
    }
}